<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inventario Nokia</title>

    <link href="../inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="../inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../inspinia/css/animate.css" rel="stylesheet">
    <link href="../inspinia/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../kendo/css/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.mobile.min.css" />


</head>

<body class="skin-2">

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span>
                                <img alt="image" class="img-circle" src="../inspinia/img/user.png" style="max-width: 50px" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">
                                            <%= user.name%>
                                        </strong>
                                    </span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                              

                            </ul>
                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active">
                        <a href="/admin">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">Existencias</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="/billAdmin">
                            <i class="fa fa-arrow-right"></i>
                            <span class="nav-label"> Detalle de ingresos</span>
                        </a>
                    </li>
                    <li>
                        <a href="/voucherAdmin">
                            <i class="fa fa-arrow-left"></i>
                            <span class="nav-label">Detalles de Entregas</span>
                        </a>
                    </li>




                    <li>
                        <a href="/user">
                            <i class="fa fa-users"></i>
                            <span class="nav-label">Usuarios</span>
                        </a>
                    </li>

                    <li>
                        <a href="/events">
                            <i class="fa fa-calendar"></i>
                            <span class="nav-label">Eventos</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/setting/admin">
                            <i class="fa fa-cog"></i>
                            <span class="nav-label">Configuración</span>
                        </a>
                    </li>

                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-label">Cerrar sesión</span>
                        </a>
                    </li>

                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">



            <div class="wrapper wrapper-content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>
                                    <img src="../images/nokia.png" width="100px" alt="">
                                </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>



                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="tabs-container">

                                    <div id="gridexistencias"></div>

                                </div>

                            </div>
                        </div>
                    </div>






                </div>


            </div>
            <div class="footer">
                <div class="pull-right">
                    Cineto Telecomunicaciones S.A.
                </div>
                <div>
                    <strong>Copyright</strong> Cineto Telecomunicaciones S.A. &copy; 2017
                </div>
            </div>

        </div>

    </div>
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog  modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Eventos</h4>
                </div>
                <div class="modal-body">
                    <div id="grid2"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
    <div id="modal"></div>
    <script>
        var user = '<%= user.id%>';
    </script>




    <!-- Mainly scripts -->
    <script src="../inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="../inspinia/js/bootstrap.min.js"></script>
    <script src="../inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../inspinia/js/inspinia.js"></script>
    <script src="../inspinia/js/plugins/pace/pace.min.js"></script>
    <script src="../kendo/js/kendo.all.min.js"></script>
    <script src="../kendo/js/jszip.min.js"></script>
    <script src="../kendo/js/kendo.messages.es-MX.min.js"></script>
    <script src="../logic/changePassword.js"></script>

    <script src="../logic/report.js"></script>

    <script>
        dataSourceExistenias = new kendo.data.DataSource({
            transport: {
                read: { url: "existenciaAdmin", type: 'get', dataType: "json" },
                update: { url: "/bill/update", type: "POST", dataType: "json" },
                destroy: { url: "/bill/delete", type: "POST", dataType: "json" },
                create: { url: "/bill/create", type: "POST", dataType: "json" },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        var datos = options.models[0]
                        return datos;
                    }
                }
            },
            batch: true,
            pageSize: 1000,
            serverFiltering: false,
            requestEnd: function (e) {
                if (e.type != "read") {
                    // refresh the grid
                    e.sender.read();
                }
            },
            schema: {
                model: {
                    id: "idprod",
                    fields: {
                        idprod: { editable: false },
                        estado: { editable: false }

                    }
                }
            },

            group: [{
                field: "code", dir: "asc", aggregates: [
                    { field: "code", aggregate: "count" },
                    { field: "enbodega", aggregate: "sum" },
                    { field: "counting", aggregate: "sum" },
                    { field: "countegs", aggregate: "sum" },
                ]
            }],

            aggregate: [
                { field: "enbodega", aggregate: "sum" },
                { field: "counting", aggregate: "sum" },
                { field: "countegs", aggregate: "sum" },

            ],
        },
        );


        $("#gridexistencias").kendoGrid({
            dataSource: dataSourceExistenias,
            height: 475,
            filterable: true,

            toolbar: ['excel'],
            resizable: true,
            pageable: { refresh: true, pageSizes: true, },

            columns: [

                { field: "idprod", hidden: true, title: "FDR", filterable: { search: true, multi: true } },
                { field: "code", title: "Código", filterable: { search: true, multi: true } },
                { field: "description", title: "Nombre", filterable: { search: true, multi: true } },
                { field: "barcode", title: "No. de serie", filterable: { search: true, multi: true } },
                { field: "category", title: "Categoría", filterable: { search: true, multi: true } },
                { field: "brand", title: "Marca", filterable: { search: true, multi: true }, groupFooterTemplate: " Total:" },
                { field: "counting", title: "T. Ingresos", filterable: { search: true, multi: true }, aggregates: ["sum"], groupFooterTemplate: " #=sum#" },
                { field: "countegs", title: "T. Entregas", filterable: { search: true, multi: true }, aggregates: ["sum"], groupFooterTemplate: " #=sum#" },
                { field: "enbodega", title: "En bodega", filterable: { search: true, multi: true }, aggregates: ["sum"], groupFooterTemplate: " #=sum#" }],
            dataBound: function (e) {
                if (this.dataSource.group().length > 0) {
                    console.log($(".k-grouping-row"));

                    for (var i = 0; i < $(".k-grouping-row").length; i++) {
                        this.collapseGroup($(".k-grouping-row")[i]);
                    }

                }
            },

            editable: "popup"
        });

        function showDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            location.href = "/history/" + dataItem.idprod;
        }
    </script>




</body>

</html>