<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inventario Nokia</title>

    <link href="../inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="../inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../inspinia/css/animate.css" rel="stylesheet">
    <link href="../inspinia/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../kendo/css/kendo.common-bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.min.css" />
    <link rel="stylesheet" href="../kendo/css/kendo.bootstrap.mobile.min.css" />


</head>

<body class="skin-2">

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile">
                            <span>
                                <img alt="image" class="img-circle" src="../inspinia/img/user.png" style="max-width: 50px" />
                            </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">
                                            <%= user.name%>
                                        </strong>
                                    </span>

                                </span>
                            </a>

                        </div>
                        <div class="logo-element">
                            IN+
                        </div>
                    </li>
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <span class="nav-label">Consultas</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">




                            <li class="active">
                                <a href="/">Historial</a>
                            </li>

                            <li class="">
                                <a href="/existence">Existencias</a>
                            </li>


                        </ul>
                    </li>


                    <li>
                        <a href="#">
                            <i class="fa fa-cube"></i>
                            <span class="nav-label">Productos</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">

                            <li>
                                <a href="/category">Tipos</a>
                            </li>
                            <li>
                                <a href="/brand">Marcas</a>
                            </li>

                            <li>
                                <a href="/model">Códigos</a>
                            </li>

                            <li>
                                <a href="/product">Números de serie</a>
                            </li>


                        </ul>
                    </li>


                    <li>
                        <a href="/bill">
                            <i class="fa fa-arrow-right"></i>
                            <span class="nav-label">Ingresos</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level collapse">

                            <li>
                                <a href="/bill">Ingresos</a>
                            </li>
                            <li>
                                <a href="/labels">Etiquetas</a>
                            </li>



                        </ul>

                    </li>
                    <li>
                        <a href="/vouchers">
                            <i class="fa fa-arrow-left"></i>
                            <span class="nav-label">Entregas</span>
                        </a>
                    </li>


                    <li>
                        <a href="/client">
                            <i class="fa fa-address-book"></i>
                            <span class="nav-label">Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/provider">
                            <i class="fa fa-truck"></i>
                            <span class="nav-label">Proveedores</span>
                        </a>
                    </li>

                    <li>
                        <a href="/location">
                            <i class="fa fa-map-marker"></i>
                            <span class="nav-label">Ubicaciones</span>
                        </a>
                    </li>

                    <li class="">
                        <a href="/setting">
                            <i class="fa fa-cog"></i>
                            <span class="nav-label">Configuración</span>
                        </a>
                    </li>

                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i>
                            <span class="nav-label">Cerrar sesión</span>
                        </a>
                    </li>


                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">



            <div class="wrapper wrapper-content">

                <div class="row">
                    <div class="col-md-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>
                                    <img src="../images/nokia.png" width="100px" alt="">
                                </h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>



                                </div>
                            </div>
                            <div class="ibox-content">

                                <div class="tabs-container">
                                    <ul id="panel2" class="nav nav-tabs">

                                        <li class="active">
                                            <a data-toggle="tab" style="color: black" href="#tab-2">Historial</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">

                                        <div id="tab-2" class="tab-pane active">
                                            <div class="panel-body">
                                                <div class="row">

                                                    <div class="col-md-3">

                                                        <div class="form-group">

                                                            <label for="codigo">Código:</label>
                                                            <input placeholder="Código del producto" onchange="buscar()" type="codigo" class="form-control" id="codigo">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="serie">Número de serie:</label>
                                                            <input placeholder="Número de serie" onchange="buscar()" type="text" class="form-control" id="serie">
                                                        </div>
                                                        <div class="form-group">
                                                                <label for="serie">Comentario:</label>
                                                                <input placeholder="Comentario" onchange="buscar()" type="text" class="form-control" id="comment">
                                                            </div>



                                                    </div>
                                                    <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="fdr">FDR:</label>
                                                            <input placeholder="Ficha de reparación" onchange="buscar()" type="codigo" class="form-control" id="fdr">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cso">CSO:</label>
                                                            <input placeholder="CSO" type="text" onchange="buscar()" class="form-control" id="cso">
                                                        </div>


                                                    </div>

                                                    <div class="col-md-3">


                                                        <div class="form-group">
                                                            <label for="categorias">Tipo:</label>
                                                            <br>

                                                            <select class="form-control" id="Cat" onchange="buscar()">
                                                                <option value="">Todas las categorías</option>
                                                                <option w3-repeat="cat" value="{{id}}">{{name}}</option>
                                                            </select>

                                                        </div>
                                                        <div class="form-group">
                                                            <label for="cso">WBS:</label>
                                                            <input placeholder="WBS" onchange="buscar()" type="text" class="form-control" id="wbs">
                                                        </div>






                                                    </div>

                                                    <div class="col-md-3">

                                                        <div class="form-group">
                                                            <label for="cso">Contrato:</label>
                                                            <input autocomplete="true" onchange="buscar()" placeholder="Contrato" type="text" class="form-control" id="contrato">
                                                        </div>

                                                        <div class="form-group">
                                                                <label for="area">Área:</label>
                                                                <input autocomplete="true" onchange="buscar()" placeholder="Área" type="text" class="form-control" id="area">
                                                            </div>



                                                    </div>

                                                    <div class="col-md-3">

                                                        <div class="form-group">
                                                           <label for="serie">&nbsp</label><br>
                                                            <button id="mibuton" onclick="buscar()" class="btn btn-success">Buscar</button>
                                                        </div>

                                                    </div>





                                                    <div class="col-md-12">


                                                        <div id="grid2"></div>

                                                        <div id="grid4"></div>
                                                    </div>

                                                    <hr>
                                                </div>




                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <!-- <button class="btn btn-success" onclick="etiqueta()">Etiquetas</button> -->




                            </div>
                        </div>
                    </div>






                </div>


            </div>
            <div class="footer">
                <div class="pull-right">
                    Cineto Telecomunicaciones S.A.
                </div>
                <div>
                    <strong>Copyright</strong> Cineto Telecomunicaciones S.A. &copy; 2017
                </div>
            </div>

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <button class="btn btn-success" onclick="print('Etiquetas')">Generar PDF</button>
                    <center>
                        <div id="Etiquetas" style="min-width: 180mm; font-family: 'Arial Narrow'; font-size: 10px">
                            <table id="" class="table  table-bordered" style="width: 75%">
                                <tbody>
                                    <tr w3-repeat="etiquetas">

                                        <td style="font-size: 10px">
                                            <label>Producto:</label> {{description}}
                                        </td>
                                        <td style="font-size: 10px">{{code}}
                                            <br> {{barcode}} </td>

                                        <td style="font-size: 10px">
                                            <label>Ubicación:</label>
                                            <br> {{location}}
                                        </td>

                                        <td style="font-size: 10px">
                                            <center>
                                                <label>Cantidad:</label>
                                                <br> 1
                                            </center>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>

                        </div>



                    </center>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modal"></div>
    <script>
        var user = '<%= user.id%>';
    </script>



    <!-- Mainly scripts -->
    <script src="../inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="../inspinia/js/bootstrap.min.js"></script>
    <script src="../inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../inspinia/js/inspinia.js"></script>
    <script src="../inspinia/js/plugins/pace/pace.min.js"></script>
    <script src="../kendo/js/kendo.all.min.js"></script>
    <script src="../kendo/js/jszip.min.js"></script>
    <script src="../kendo/js/kendo.messages.es-MX.min.js"></script>
    <script src="../kendo/js/kendo.culture.es-MX.min.js"></script>
    <script src="../logic/changePassword.js"></script>

    <!-- Jquery Validate -->

    <script src="../js/w3.js"></script>

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <script src="../logic/index.js"></script>
    <script src="../logic/product.1.js"></script>




    <script>
        kendo.culture("es-MX");
        dataSourceExistenias = new kendo.data.DataSource({
            transport: {
                read: { url: "existencia", type: 'POST', dataType: "json" },
                update: { url: "/bill/update", type: "POST", dataType: "json" },
                destroy: { url: "/bill/delete", type: "POST", dataType: "json" },
                create: { url: "/bill/create", type: "POST", dataType: "json" },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        var datos = options.models[0]
                        return datos;
                    }
                    if (operation == "read") {
                        if (options.filter) {
                            sql = "SELECT * FROM v_existencias2 WHERE"
                            sqlAll = "SELECT * FROM v_existencias2";
                            for (let i = 0; i < options.filter.length; i++) {
                                //  console.log(options.filter[i])
                            }
                            for (let i = 0; i < options.filter.filters.length; i++) {
                                if (i == 0) {
                                    sql = sql + " " + options.filter.filters[i].field + " = '" + options.filter.filters[i].value + "' ";
                                } else {
                                    sql = sql + " OR " + options.filter.filters[i].field + " = '" + options.filter.filters[i].value + "'";
                                }
                            }
                            // alert(sql)
                            if (sql == '') {
                                return { sql: sqlAll };
                            }
                            //alert('en construcción')
                            return { sql: sql };
                        }
                    }
                }
            },
            batch: true,
            pageSize: 1000,
            serverFiltering: false,
            requestEnd: function (e) {
                if (e.type == "read") {
                    //   alert('hola')
                    // console.log($('#gridexistencias').data('kendoGrid').dataSource)
                    var data = $('#gridexistencias').data('kendoGrid').dataSource;
                    var grid8 = $("#gridexistencias").data("kendoGrid");
                    // grid8.setDataSource(data);
                }
            },
            schema: {
                model: {
                    id: "idprod",
                    fields: {
                        idprod: { editable: false },
                        estado: { editable: false },
                        enbodega: { editable: false, type: 'number' }
                    }
                }
            },
            group: [{
                field: "code", dir: "asc", aggregates: [
                    { field: "code", aggregate: "count" },
                    { field: "enbodega", aggregate: "sum" },
                    { field: "counting", aggregate: "sum" },
                    { field: "countegs", aggregate: "sum" },
                ]
            }],
            aggregate: [
                { field: "enbodega", aggregate: "sum" },
                { field: "counting", aggregate: "sum" },
                { field: "countegs", aggregate: "sum" },
            ],
        },
        );
        function saltar() {
            var grid = $("#gridexistencias").data("kendoGrid");
            grid.setDataSource(grid.dataSource);
            grid.dataSource.read();
        }
        $("#gridexistencias").kendoGrid({
            dataSource: dataSourceExistenias,
            height: 475,
            filterable: true,
            autoBind: true,
            toolbar: ['excel'],
            excel: {
                allPages: true,
                fileName: "existencias.xlsx"
            },
            resizable: true,
            pageable: { refresh: true, pageSizes: true, },
            sortable: true,
            columns: [
                { field: "idprod", hidden: true, title: "FDR", filterable: { search: true, multi: true } },
                { field: "code", title: "Código", filterable: { search: true, multi: true } },
                { field: "description", title: "Nombre", filterable: { search: true, multi: true } },
                { field: "barcode", title: "No. de serie", filterable: { search: true, multi: true } },
                { field: "category", title: "Categoría", filterable: { search: true, multi: true } },
                { field: "brand", title: "Marca", filterable: { search: true, multi: true }, groupFooterTemplate: " Total:" },
                { field: "counting", title: "T. Ingresos", filterable: { search: true, multi: true }, aggregates: ["sum"], groupFooterTemplate: " #=sum#" },
                { field: "countegs", title: "T. Entregas", filterable: { search: true, multi: true }, aggregates: ["sum"], groupFooterTemplate: " #=sum#" },
                { field: "enbodega", title: "En bodega", filterable: { search: true, multi: false }, aggregates: ["sum"], groupFooterTemplate: " #=sum#" },
                { command: [{ text: "Historial", click: showDetails, iconClass: 'icon icon-chart-column' }], title: "Acciones" }],
            dataBound: function (e) {
                if (this.dataSource.group().length > 0) {
                    for (var i = 0; i < $(".k-grouping-row").length; i++) {
                        this.collapseGroup($(".k-grouping-row")[i]);
                    }
                }
            },
            editable: "popup"
        });
        function showDetails(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            location.href = "/history/" + dataItem.idprod;
        }
    </script>



    <script type="text/javascript">
        function print(elem) {
            $('#Etiquetas').printArea();
        }
    </script>

    <script>
        $.get("/category/read", function (data2) {
            w3.displayObject("Cat", { cat: data2 });
        });
        
    </script>

    <script>
        $(function () {
            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "existencia",
                        dataType: "json",
                        type: "POST"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                batch: false,
                schema: {
                    model: {
                        fields: {
                            code: { title: "Código", type: "string" },
                        }
                    }
                }
            });
            $("#spreadsheet").kendoSpreadsheet({
                toolbar: {
                    home: false,
                    insert: false
                },
                columns: [
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true },
                    { autoWidth: true }
                ],
                sortable: true,
                columns: [
                    { sortable: false, field: "idprod" },
                    { field: "idprod" }
                ],
                columns: 10,
                rows: 4000,
                sheetsbar: true,
                sheets: [{
                    name: "Existencias",
                    dataSource: dataSource,
                    rows: [{
                        cells: [
                            {
                                bold: "true",
                                background: "white",
                                value: "ID"
                            }, {
                                bold: "true",
                                background: "white",
                                value: "ID"
                            }, {
                                bold: "true",
                                background: "white",
                            }, {
                                bold: "true",
                                background: "white",
                                value: "ID"
                            }, {
                                bold: "true",
                                background: "white",
                                value: "ID"
                            }, {
                                bold: "true",
                                background: "white",
                            }, {
                                bold: "true",
                                background: "white",
                            }, {
                                bold: "true",
                                background: "white",
                            }, {
                                bold: "true",
                                background: "white",
                            }, {
                                bold: "true",
                                background: "white",
                            }]
                    }],
                    columns: [
                        { width: 50 },
                        { width: 150 },
                        { width: 150 },
                        { width: 150 },
                        { width: 150 },
                        { width: 150 },
                        { width: 150 },
                        { width: 150 },
                        { width: 150 },
                        { width: 150 }
                    ]
                }]
            });
        });
    </script>









</body>

</html>

<style type="text/css">
    #rcorners2 {
        border-radius: 25px;
        border: 2px solid black;
        padding: 10px;
        text-align: center;
        width: 5.25cm;
        margin: 5px 5px 5px 5px
    }
    #rcorners1 {
        border: 1px solid black;
        border-style: dashed;
        padding: 10px
    }
    #Etiquetas {
        padding: 30px
    }
    .k-spreadsheet .k-tabstrip-wrapper .k-spreadsheet-quick-access-toolbar {
        display: none;
    }
    .k-spreadsheet .k-tabstrip-wrapper .k-tabstrip-items {
        padding-left: .3em !important;
    }
</style>