.cuerpo {
    font-family: 'Arial Narrow';
    font-style: normal;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white
}

#Vouchers {
    width: 100%
}


